<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title> Story 6</title>
</head>
<body>
	<h1>Hello Apa kabar?</h1>
	{% block content %}
	<div class = "container p-5">
			<h3>Statusku</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Nama</th>
						<th>Status</th>
					</thead>
					<tbody>
						{% for e in daftarstatus %}
						<tr>
							<td>{{e.name}}</td>
							<td>{{e.status}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	<div class="container">
		<h1>Tambah Status</h1>
		<div class="form-group">
			<form method="POST" class="post-form">{% csrf_token %}
		        {{ form.as_p }}
		        <button type="submit" class="save btn btn-default">Simpan</button>
		    </form>
		</div>
	</div>
	{% endblock %}
</body>
</html>